<!-- <h1>RespondLog#log</h1>
<p>Find me in app/views/respond_log/log.html.erb</p>
-->
<table border="1">
  <% @log.each do |l| %>
    <tr>
      <td> 
        <img src=<%= l.status == "error" ? "assets/error.png" : "assets/success.png" %>> 
      </td>
      <td> <%= l.created_at %> </td>
      <td> <%= l.region.name %> </td>
      <td> <%= l.status %> </td>
      <td> <%= l.message %> </td>
    </tr>
  <% end %>
</table>